# default config
**/.git
**/.svn
**/.hg
**/node_modules

.husky
.next
.vscode
public
yarn.lock

# pathpida
src/lib/pathpida/$path.ts
src/lib/pathpida/pathnames.ts

# codegen
graphql.schema.json
src/lib/gql/type.ts
src/**/*.generated.ts
