# default config
**/.git
**/.svn
**/.hg
**/node_modules

.husky
.next
.vscode
public
pnpm-lock.yaml

# pathpida
src/lib/pathpida/$path.ts
src/lib/pathpida/pathnames.ts

# codegen
graphql.schema.json
src/**/*.generated.ts

# test
coverage
